h1, h2, h3, h4, h5, h6 {
    color: white;
    background-color: sienna;
    margin-top: 0%;;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    text-align: justify;
    color: black;
}

nav.topnav {
    background-color: #333;
    overflow: hidden;
}

nav.topnav p {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 24px;
    padding: 14px 16px;
    margin: 0;
}

nav.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav.topnav a:hover {
    background-color: #ddd;
    color: black;
}

nav.topnav input[type="text"] {
    float: right;
    padding: 6px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    position: relative;
    top: 10px;
}

.navtext {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    vertical-align: bottom;
}

.icon {
    width: 50px;
    height: 50px;
    vertical-align: bottom;
    position: relative;
    bottom: -7px;
}  