<!DOCTYPE html>
<!-- Main page document, loads from both "/" and "/home"-->
<!-- Uses homestyle.css-->
<html lang="en">
<head>
    <!-- Defines all the meta stuff for HTML-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homestyle.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie information System</title>
</head>
<body style="background-color:AntiqueWhite;">
    <!-- Nav Bar, make sure this is on every page.-->
    <nav class="topnav">
        <p>Movie Information System</p>
        <a class="active" href="">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
        <input type="text" placeholder="Search Movies..">
    </nav>

    <!-- Split sections of the system, featured movies, actors, etc-->
    <div>
        <h2>Featured Movies</h2>
        <ul>
            <a href="/1"><img src="{{url_for('static', filename='blackpanther.jpg')}}"height="200" width="200" alt="Movie Image"></a>
            <a href="/2"><img src="{{url_for('static', filename='harrypotter.jpg')}}"height="200" width="200" alt="Movie Image"></a>
            <a href="/2"><img src="{{url_for('static', filename='boys.jpg')}}"height="200" width="200" alt="Movie Image"></a>
        </ul>
    </div>

        <div>
        <h2>Featured Actors</h2>
        <ul>
            <a href="/1"><img src="{{url_for('static', filename='ben.jpg')}}"height="200" width="200" alt="Movie Image"></a>
            <a href="/2"><img src="{{url_for('static', filename='dwayne.jpg')}}"height="200" width="200" alt="Movie Image"></a>
            <a href="/2"><img src="{{url_for('static', filename='robert.jpg')}}"height="200" width="200" alt="Movie Image"></a>
        </ul>
    </div>

</body>
</html>